body {
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

footer {
    position: fixed;
    background-color: #333;
    text-align: center;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    opacity: 80%;
}